docs/Infrastructure/Data-Integration/PL_IntgrID_AccountCreationTrg_D365ToM3_Inner.json
{
    "name": "PL_IntgrID_AccountCreationTrg_D365ToM3_Inner",
    "properties": {
        "activities": [
            {
                "name": "Get Acounts to create",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "Set varInforAPIBaseURL",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.00:01:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "DynamicsSource",
                        "query": {
                            "value": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"account\">\n    <attribute name=\"accountid\" />\n    <attribute name=\"xrm_amname\" />\n    <attribute name=\"ava_m3number\" />\n    <attribute name=\"accountnumber\" />\n    <attribute name=\"ava_m3status\" />\n    <attribute name=\"address2_city\" />\n    <attribute name=\"address2_country\" />\n    <attribute name=\"address2_stateorprovince\" />\n    <attribute name=\"address2_line1\" />\n    <attribute name=\"address2_postalcode\" />\n    <attribute name=\"ava_checkifmandatorypo\" />\n    <attribute name=\"name\" />\n    <attribute name=\"telephone1\" />\n    <attribute name=\"fax\" />\n    <attribute name=\"xrm_language\" />\n    <attribute name=\"ava_kosher\" />\n    <attribute name=\"ava_storenumber\" />\n    <attribute name=\"ava_first3digitsofpostalcode\" />\n    <attribute name=\"msdyn_taxexempt\" />\n    <attribute name=\"ava_tpsgsthst\" />\n    <attribute name=\"ava_tvppst\" />\n    <attribute name=\"ava_warehouse\" />\n    <attribute name=\"xrm_accounttype\" />\n    <attribute name=\"ava_divcomparamark\" />\n    <order attribute=\"ava_m3number\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"ava_customerstage\" operator=\"eq\" value=\"40\" />\n      <condition attribute=\"ava_m3number\" operator=\"eq\" value=\"@{pipeline().parameters.M3AccountNumber}\" />\n    </filter>\n    <link-entity name=\"account\" from=\"accountid\" to=\"xrm_billto\" visible=\"false\" link-type=\"outer\" alias=\"BillTo\">\n      <attribute name=\"ava_m3number\" alias=\"BillTo_m3number\"/>\n    </link-entity>\n    <link-entity name=\"territory\" from=\"territoryid\" to=\"xrm_district\" visible=\"false\" link-type=\"outer\" alias=\"Territory\">\n      <attribute name=\"ava_m3code\" alias=\"Territory_m3code\"/>\n      <attribute name=\"xrm_code\" alias=\"Territory_code\"/>\n      <link-entity name=\"systemuser\" from=\"systemuserid\" to=\"ava_profilemanager\" link-type=\"outer\" alias=\"SystemUser\">\n        <attribute name=\"smg_inforid\" alias=\"SystemUser_ProfileManagerid\"/>\n      </link-entity>\n    </link-entity>\n    <link-entity name=\"xrm_primarymarketsegment\" from=\"xrm_primarymarketsegmentid\" to=\"xrm_primarymarket\" visible=\"false\" link-type=\"outer\" alias=\"PrimaryMarket\">\n      <attribute name=\"xrm_code\" alias=\"PrimaryMarket_m3code\"/>\n    </link-entity>\n    <link-entity name=\"xrm_secondarymarketsegment\" from=\"xrm_secondarymarketsegmentid\" to=\"xrm_secondarymarket\" visible=\"false\" link-type=\"outer\" alias=\"SecondaryMarket\">\n      <attribute name=\"xrm_code\" alias=\"SecondaryMarket_m3code\"/>\n    </link-entity>\n    <link-entity name=\"xrm_buyinggroup\" from=\"xrm_buyinggroupid\" to=\"xrm_buyinggroup\" visible=\"false\" link-type=\"outer\" alias=\"BuyingGroup\">\n      <attribute name=\"xrm_code\" alias=\"BuyingGroup_m3code\"/>\n    </link-entity>\n    <link-entity name=\"ava_additionalpurchasinggroup\" from=\"ava_additionalpurchasinggroupid\" to=\"ava_additionalpurchasinggroup\" visible=\"false\" link-type=\"outer\" alias=\"AdditionalPurchasingGroup\">\n      <attribute name=\"ava_code\" alias=\"AdditionalPurchasingGroup_m3code\"/>\n    </link-entity>\n    <link-entity name=\"xrm_nationalgroup\" from=\"xrm_nationalgroupid\" to=\"xrm_national_group\" visible=\"false\" link-type=\"outer\" alias=\"NationalGroup\">\n      <attribute name=\"xrm_code\" alias=\"NationalGroup_m3code\"/>\n    </link-entity>\n    <link-entity name=\"businessunit\" from=\"businessunitid\" to=\"xrm_division\" visible=\"false\" link-type=\"outer\" alias=\"BusinessUnit\">\n      <attribute name=\"xrm_code\" alias=\"BusinessUnit_m3code\"/>\n      <attribute name=\"ava_companym3\" alias=\"BusinessUnit_companym3\"/>\n    </link-entity>\n  </entity>\n</fetch>",
                            "type": "Expression"
                        }
                    },
                    "dataset": {
                        "referenceName": "DS_D365_Account",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "Get InforAPI BaseURL",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "Set varBearerToken",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.00:00:30",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "DynamicsSource",
                        "query": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"ava_parameter\">\n    <attribute name=\"ava_value\" />\n    <order attribute=\"ava_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"ava_name\" operator=\"eq\" value=\"InforAPIBaseURL\" />\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n    </filter>\n  </entity>\n</fetch>"
                    },
                    "dataset": {
                        "referenceName": "DS_D365_ParametersSMGS",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": true
                }
            },
            {
                "name": "Set varInforAPIBaseURL",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Get InforAPI BaseURL",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "varInforAPIBaseURL",
                    "value": {
                        "value": "@activity('Get InforAPI BaseURL').output.firstRow.ava_value",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "PL_InforUtil_BearerTokenToAKV",
                "type": "ExecutePipeline",
                "dependsOn": [],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "PL_InforUtil_BearerTokenToAKV",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "paramForceGenNewToken": {
                            "value": "@pipeline().parameters.ForceRenewInforApiBearerToken",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "GetBearerTokenFromAKV",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "PL_InforUtil_BearerTokenToAKV",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.0:01:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": true,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "method": "GET",
                    "url": {
                        "value": "@concat(pipeline().globalParameters.AzureKeyVaultURL,'/secrets/InforAPI-BearerToken-Value/?api-version=7.0')",
                        "type": "Expression"
                    },
                    "authentication": {
                        "type": "MSI",
                        "resource": "https://vault.azure.net"
                    }
                }
            },
            {
                "name": "Set varBearerToken",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "GetBearerTokenFromAKV",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "varBearerToken",
                    "value": {
                        "value": "Bearer @{activity('GetBearerTokenFromAKV').output.value}",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Validate if missing data",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Get Acounts to create",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "varError",
                    "value": {
                        "value": "@if(greater(activity('Get Acounts to create').output.count,0),\n    concat(if(and(and(contains(activity('Get Acounts to create').output.value[0],'BusinessUnit_companym3'),not(equals(activity('Get Acounts to create').output.value[0].BusinessUnit_companym3,null))),not(equals(activity('Get Acounts to create').output.value[0].BusinessUnit_companym3,0))),'',' - Company M3 missing'),\n           if(and(contains(activity('Get Acounts to create').output.value[0],'xrm_accounttype'),not(equals(activity('Get Acounts to create').output.value[0].xrm_accounttype,null))),if(or(or(equals(activity('Get Acounts to create').output.value[0].xrm_accounttype,163650000),equals(activity('Get Acounts to create').output.value[0].xrm_accounttype,163650001)),equals(activity('Get Acounts to create').output.value[0].xrm_accounttype,163650002)),'',' - Invalide Account Type'),' - Account Type missing'),\n           if(and(and(contains(activity('Get Acounts to create').output.value[0],'ava_m3number'),not(equals(activity('Get Acounts to create').output.value[0].ava_m3number,null))),not(equals(replace(activity('Get Acounts to create').output.value[0].ava_m3number,' ',''),''))),'',' - Customer Number missing'),\n           if(and(and(contains(activity('Get Acounts to create').output.value[0],'name'),not(equals(activity('Get Acounts to create').output.value[0].name,null))),not(equals(replace(activity('Get Acounts to create').output.value[0].name,' ',''),''))),'',' - Customer Name missing'),\n           if(and(and(contains(activity('Get Acounts to create').output.value[0],'address2_line1'),not(equals(activity('Get Acounts to create').output.value[0].address2_line1,null))),not(equals(replace(activity('Get Acounts to create').output.value[0].address2_line1,' ',''),''))),'',' - Address2 Line 1 missing')\n          ),\n    'Account not found in D365 with CustomerStage 40 - Ready to Sync')",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "If necessary to call CUSEXTMI_AddFieldValue_v2",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "If necessary to call CRS610MI_ChgOrderInfo",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@and(and(contains(activity('Get Acounts to create').output.value[0],'AdditionalPurchasingGroup_m3code'),not(equals(activity('Get Acounts to create').output.value[0].AdditionalPurchasingGroup_m3code,null))),not(equals(replace(activity('Get Acounts to create').output.value[0].AdditionalPurchasingGroup_m3code,' ',''),'')))",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "Call CUSEXTMI_AddFieldValu",
                            "type": "WebActivity",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.0:01:30",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "method": "GET",
                                "headers": {
                                    "Authorization": {
                                        "value": "@variables('varBearerToken')",
                                        "type": "Expression"
                                    }
                                },
                                "url": {
                                    "value": "@concat(variables('varInforAPIBaseURL'),\n        'M3/m3api-rest/v2/execute/CUSEXTMI/AddFieldValue?',\n        'FILE=OCUSMA',\n        '&PK01=',variables('varCustomerNumber'),\n        '&A030=',activity('Get Acounts to create').output.value[0].AdditionalPurchasingGroup_m3code,\n        '&maxrecs=0')",
                                    "type": "Expression"
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "If necessary to call CRS610MI_ChgFinancial",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "If necessary to call CRS610MI_ChgBasicData",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@equals(activity('Get Acounts to create').output.value[0].xrm_accounttype,163650001)",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "Call CRS610MI_ChgFinancial",
                            "type": "WebActivity",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.0:01:30",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "method": "GET",
                                "headers": {
                                    "Authorization": {
                                        "value": "@variables('varBearerToken')",
                                        "type": "Expression"
                                    }
                                },
                                "url": {
                                    "value": "@concat(variables('varInforAPIBaseURL'),\n        'M3/m3api-rest/v2/execute/CRS610MI/ChgFinancial?',\n        'CONO=',activity('Get Acounts to create').output.value[0].BusinessUnit_companym3,\n        '&CUNO=',variables('varCustomerNumber'),\n        if(and(and(contains(activity('Get Acounts to create').output.value[0],'ava_tpsgsthst'),not(equals(activity('Get Acounts to create').output.value[0].ava_tpsgsthst,null))),not(equals(replace(activity('Get Acounts to create').output.value[0].ava_tpsgsthst,' ',''),''))),concat('&CORG=',activity('Get Acounts to create').output.value[0].ava_tpsgsthst),''),\n        if(and(and(contains(activity('Get Acounts to create').output.value[0],'ava_tvppst'),not(equals(activity('Get Acounts to create').output.value[0].ava_tvppst,null))),not(equals(replace(activity('Get Acounts to create').output.value[0].ava_tvppst,' ',''),''))),concat('&COR2=',activity('Get Acounts to create').output.value[0].ava_tvppst),''),\n        if(and(contains(activity('Get Acounts to create').output.value[0],'msdyn_taxexempt'),not(equals(activity('Get Acounts to create').output.value[0].msdyn_taxexempt,null))),if(equals(activity('Get Acounts to create').output.value[0].msdyn_taxexempt, true),'&VTCD=90',''),''),\n        '&maxrecs=0')",
                                    "type": "Expression"
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "If missing data",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Validate if missing data",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@not(equals(trim(variables('varError')),''))",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "Missing data",
                            "type": "Fail",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "message": {
                                    "value": "@concat('Account ', pipeline().parameters.M3AccountNumber,\n        ' has not been sent to Infor for the following reason(s): ',\n        variables('varError'))",
                                    "type": "Expression"
                                },
                                "errorCode": "500"
                            }
                        }
                    ]
                }
            },
            {
                "name": "If necessary to call CRS610MI_ChgBasicData",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "If necessary to call CUSEXTMI_AddFieldValue_v2",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@and(and(contains(activity('Get Acounts to create').output.value[0],'ava_first3digitsofpostalcode'),not(equals(activity('Get Acounts to create').output.value[0].ava_first3digitsofpostalcode,null))),not(equals(replace(activity('Get Acounts to create').output.value[0].ava_first3digitsofpostalcode,' ',''),'')))",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "Call CRS610MI_ChgBasicData",
                            "type": "WebActivity",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.0:01:30",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "method": "GET",
                                "headers": {
                                    "Authorization": {
                                        "value": "@variables('varBearerToken')",
                                        "type": "Expression"
                                    }
                                },
                                "url": {
                                    "value": "@concat(variables('varInforAPIBaseURL'),\n        'M3/m3api-rest/v2/execute/CRS610MI/ChgBasicData?',\n        'CONO=',activity('Get Acounts to create').output.value[0].BusinessUnit_companym3,\n        '&CUNO=',variables('varCustomerNumber'),\n        '&RASN=',activity('Get Acounts to create').output.value[0].ava_first3digitsofpostalcode,\n        '&maxrecs=0')",
                                    "type": "Expression"
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "If necessary to call CRS610MI_ChgOrderInfo",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "If account is created",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@or(\nor(\nor(\nor(\nor(\nand(\nand(\ncontains(activity('Get Acounts to create').output.value[0],'Territory_code'),\nnot(equals(activity('Get Acounts to create').output.value[0].Territory_code,null))\n),\nnot(equals(replace(activity('Get Acounts to create').output.value[0].Territory_code,' ',''),''))\n),\nand(\nand(\ncontains(activity('Get Acounts to create').output.value[0],'BillTo_m3number'),\nnot(equals(activity('Get Acounts to create').output.value[0].BillTo_m3number,null))\n),\nnot(equals(replace(activity('Get Acounts to create').output.value[0].BillTo_m3number,' ',''),''))\n)\n),\nand(\nand(\ncontains(activity('Get Acounts to create').output.value[0],'Territory_m3code'),\nnot(equals(activity('Get Acounts to create').output.value[0].Territory_m3code,null))\n),\nnot(equals(replace(activity('Get Acounts to create').output.value[0].Territory_m3code,' ',''),''))\n)\n),\nand(\nand(\ncontains(activity('Get Acounts to create').output.value[0],'BuyingGroup_m3code'),\nnot(equals(activity('Get Acounts to create').output.value[0].BuyingGroup_m3code,null))\n),\nnot(equals(replace(activity('Get Acounts to create').output.value[0].BuyingGroup_m3code,' ',''),''))\n)\n),\nand(\nand(\ncontains(activity('Get Acounts to create').output.value[0],'ava_warehouse'),\nnot(equals(activity('Get Acounts to create').output.value[0].ava_warehouse,null))\n),\nnot(equals(replace(activity('Get Acounts to create').output.value[0].ava_warehouse,' ',''),''))\n)\n),\nor(\nand(\nand(\ncontains(activity('Get Acounts to create').output.value[0],'SystemUser_ProfileManagerid'),\nnot(equals(activity('Get Acounts to create').output.value[0].SystemUser_ProfileManagerid,null))\n),\nnot(equals(replace(activity('Get Acounts to create').output.value[0].SystemUser_ProfileManagerid,' ',''),''))\n),\nand(\nnot(equals(variables('varMandatory'), null)),\nnot(equals(replace(variables('varMandatory'), ' ', ''), ''))\n)\n)\n)\n",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "Call CRS610MI_ChgOrderInfo",
                            "type": "WebActivity",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.0:01:30",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "method": "GET",
                                "headers": {
                                    "Authorization": {
                                        "value": "@variables('varBearerToken')",
                                        "type": "Expression"
                                    }
                                },
                                "url": {
                                    "value": "@concat(\n  variables('varInforAPIBaseURL'),\n  'M3/m3api-rest/v2/execute/CRS610MI/ChgOrderInfo?',\n  'CONO=', activity('Get Acounts to create').output.value[0].BusinessUnit_companym3,\n  '&CUNO=', variables('varCustomerNumber'),\n  if(\n    and(\n      and(\n        contains(activity('Get Acounts to create').output.value[0],'Territory_m3code'),\n        not(equals(activity('Get Acounts to create').output.value[0].Territory_m3code,null))\n      ),\n      not(equals(replace(string(activity('Get Acounts to create').output.value[0].Territory_m3code),' ',''),''))\n    ),\n    concat('&SMCD=',activity('Get Acounts to create').output.value[0].Territory_m3code),\n    ''\n  ),\n  if(\n    and(\n      and(\n        contains(activity('Get Acounts to create').output.value[0],'BillTo_m3number'),\n        not(equals(activity('Get Acounts to create').output.value[0].BillTo_m3number,null))\n      ),\n      not(equals(replace(string(activity('Get Acounts to create').output.value[0].BillTo_m3number),' ',''),''))\n    ),\n    concat('&PYNO=',activity('Get Acounts to create').output.value[0].BillTo_m3number),\n    ''\n  ),\n  if(\n    and(\n      and(\n        contains(activity('Get Acounts to create').output.value[0],'Territory_m3code'),\n        not(equals(activity('Get Acounts to create').output.value[0].Territory_m3code,null))\n      ),\n      not(equals(replace(string(activity('Get Acounts to create').output.value[0].Territory_m3code),' ',''),''))\n    ),\n    concat('&SDST=',activity('Get Acounts to create').output.value[0].Territory_m3code),\n    ''\n  ),\n  if(\n    and(\n      and(\n        contains(activity('Get Acounts to create').output.value[0],'BuyingGroup_m3code'),\n        not(equals(activity('Get Acounts to create').output.value[0].BuyingGroup_m3code,null))\n      ),\n      not(equals(replace(string(activity('Get Acounts to create').output.value[0].BuyingGroup_m3code),' ',''),''))\n    ),\n    concat('&CUCL=',activity('Get Acounts to create').output.value[0].BuyingGroup_m3code),\n    ''\n  ),\n  if(\n    and(\n      and(\n        contains(activity('Get Acounts to create').output.value[0],'ava_warehouse'),\n        not(equals(activity('Get Acounts to create').output.value[0].ava_warehouse,null))\n      ),\n      not(equals(replace(string(activity('Get Acounts to create').output.value[0].ava_warehouse),' ',''),''))\n    ),\n    concat('&WHLO=',activity('Get Acounts to create').output.value[0].ava_warehouse),\n    ''\n  ),\n variables('varMandatory'),\n  if(\n    and(\n      and(\n        contains(activity('Get Acounts to create').output.value[0],'SystemUser_ProfileManagerid'),\n        not(equals(activity('Get Acounts to create').output.value[0].SystemUser_ProfileManagerid,null))\n      ),\n      not(equals(replace(string(activity('Get Acounts to create').output.value[0].SystemUser_ProfileManagerid),' ',''),''))\n    ),\n    concat('&RESP=',activity('Get Acounts to create').output.value[0].SystemUser_ProfileManagerid),\n    ''\n  ),\n  '&maxrecs=0'\n)\n",
                                    "type": "Expression"
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "If account is created",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Call CRS610MI_Copy",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@greater(activity('Call CRS610MI_Copy').output.nrOfSuccessfullTransactions,0)\n",
                        "type": "Expression"
                    },
                    "ifFalseActivities": [
                        {
                            "name": "Account creation error",
                            "type": "Fail",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "message": {
                                    "value": "@concat('Account ', pipeline().parameters.M3AccountNumber,\n         ' has not been created in Infor. ErrorType: ',\n         activity('Call CRS610MI_Copy').output.results[0].errorType,\n         ', ErrorMessage: ',\n         activity('Call CRS610MI_Copy').output.results[0].errorMessage,\n         '.')",
                                    "type": "Expression"
                                },
                                "errorCode": "500"
                            }
                        }
                    ],
                    "ifTrueActivities": [
                        {
                            "name": "Set CustomerNumber from API result",
                            "type": "SetVariable",
                            "dependsOn": [],
                            "policy": {
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "varCustomerNumber",
                                "value": {
                                    "value": "@activity('Call CRS610MI_Copy').output.results[0].records[0].CUNO",
                                    "type": "Expression"
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "Call CRS610MI_Copy",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "Set varMandatory",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.0:01:30",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "method": "GET",
                    "headers": {
                        "Authorization": {
                            "value": "@variables('varBearerToken')",
                            "type": "Expression"
                        }
                    },
                    "url": {
                        "value": "@concat(variables('varInforAPIBaseURL'),\n        'M3/m3api-rest/v2/execute/CRS610MI/Copy?',\n        'CONO=',activity('Get Acounts to create').output.value[0].BusinessUnit_companym3,\n        '&LNCD=',if(and(contains(activity('Get Acounts to create').output.value[0],'xrm_language'),not(equals(activity('Get Acounts to create').output.value[0].xrm_language,null))),if(equals(activity('Get Acounts to create').output.value[0].xrm_language, 163650001),'FR','GB'),'GB'),\n        '&CUTM=',if(equals(activity('Get Acounts to create').output.value[0].xrm_accounttype,163650002),'ZTEMPL001',if(equals(activity('Get Acounts to create').output.value[0].xrm_accounttype,163650001),'ZTEMPP001','ZTEMPL002')),\n        '&CUNO=',activity('Get Acounts to create').output.value[0].ava_m3number,\n        '&CUNM=',replace(activity('Get Acounts to create').output.value[0].name,'#',''),\n        '&CUA1=',activity('Get Acounts to create').output.value[0].address2_line1,\n        if(and(and(contains(activity('Get Acounts to create').output.value[0],'address2_postalcode'),not(equals(activity('Get Acounts to create').output.value[0].address2_postalcode,null))),not(equals(replace(activity('Get Acounts to create').output.value[0].address2_postalcode,' ',''),''))),toUpper(concat('&PONO=',substring(replace(activity('Get Acounts to create').output.value[0].address2_postalcode,' ',''),0,3),' ',substring(replace(activity('Get Acounts to create').output.value[0].address2_postalcode,' ',''),3,3))),''),\n        if(and(and(contains(activity('Get Acounts to create').output.value[0],'telephone1'),not(equals(activity('Get Acounts to create').output.value[0].telephone1,null))),not(equals(replace(activity('Get Acounts to create').output.value[0].telephone1,' ',''),''))),concat('&PHNO=',substring(replace(replace(activity('Get Acounts to create').output.value[0].telephone1,' ',''),'-',''),0,3),'-',substring(replace(replace(activity('Get Acounts to create').output.value[0].telephone1,' ',''),'-',''),3,3),'-',substring(replace(replace(activity('Get Acounts to create').output.value[0].telephone1,' ',''),'-',''),6,4)),''),\n        if(and(and(contains(activity('Get Acounts to create').output.value[0],'ava_divcomparamark'),not(equals(activity('Get Acounts to create').output.value[0].ava_divcomparamark,null))),not(equals(replace(activity('Get Acounts to create').output.value[0].ava_divcomparamark,' ',''),''))),concat('&PHN2=',activity('Get Acounts to create').output.value[0].ava_divcomparamark),''),\n        if(and(and(contains(activity('Get Acounts to create').output.value[0],'fax'),not(equals(activity('Get Acounts to create').output.value[0].fax,null))),not(equals(replace(activity('Get Acounts to create').output.value[0].fax,' ',''),''))),concat('&TFNO=',substring(replace(replace(activity('Get Acounts to create').output.value[0].fax,' ',''),'-',''),0,3),'-',substring(replace(replace(activity('Get Acounts to create').output.value[0].fax,' ',''),'-',''),3,3),'-',substring(replace(replace(activity('Get Acounts to create').output.value[0].fax,' ',''),'-',''),6,4)),''),\n        if(and(and(contains(activity('Get Acounts to create').output.value[0],'accountnumber'),not(equals(activity('Get Acounts to create').output.value[0].accountnumber,null))),not(equals(replace(activity('Get Acounts to create').output.value[0].accountnumber,' ',''),''))),concat('&ALCU=',activity('Get Acounts to create').output.value[0].accountnumber),''),\n        if(and(and(contains(activity('Get Acounts to create').output.value[0],'ava_storenumber'),not(equals(activity('Get Acounts to create').output.value[0].ava_storenumber,null))),not(equals(replace(activity('Get Acounts to create').output.value[0].ava_storenumber,' ',''),''))),concat('&YRE2=',activity('Get Acounts to create').output.value[0].ava_storenumber),''),\n        if(equals(activity('Get 2 Chars StateProvince').output.nrOfSuccessfullTransactions,0),'',concat('&ECAR=',activity('Get 2 Chars StateProvince').output.results[0].records[0].REPL)),\n        if(equals(activity('Get 2 Chars Country').output.nrOfSuccessfullTransactions,0),'',concat('&CSCD=',activity('Get 2 Chars Country').output.results[0].records[0].REPL)),\n        if(and(and(contains(activity('Get Acounts to create').output.value[0],'NationalGroup_m3code'),not(equals(activity('Get Acounts to create').output.value[0].NationalGroup_m3code,null))),not(equals(replace(activity('Get Acounts to create').output.value[0].NationalGroup_m3code,' ',''),''))),concat('&CFC1=',activity('Get Acounts to create').output.value[0].NationalGroup_m3code),''),\n        if(and(and(contains(activity('Get Acounts to create').output.value[0],'BusinessUnit_m3code'),not(equals(activity('Get Acounts to create').output.value[0].BusinessUnit_m3code,null))),not(equals(replace(activity('Get Acounts to create').output.value[0].BusinessUnit_m3code,' ',''),''))),concat('&CFC4=',activity('Get Acounts to create').output.value[0].BusinessUnit_m3code),''),\n        '&CFC7=',convertFromUtc(utcNow(),'Eastern Standard Time','yyyyMMdd'),\n        if(and(and(contains(activity('Get Acounts to create').output.value[0],'PrimaryMarket_m3code'),not(equals(activity('Get Acounts to create').output.value[0].PrimaryMarket_m3code,null))),not(equals(replace(activity('Get Acounts to create').output.value[0].PrimaryMarket_m3code,' ',''),''))),concat('&CFC8=',activity('Get Acounts to create').output.value[0].PrimaryMarket_m3code),''),\n        '&CFC0=',if(and(contains(activity('Get Acounts to create').output.value[0],'ava_kosher'),not(equals(activity('Get Acounts to create').output.value[0].ava_kosher,null))),if(equals(activity('Get Acounts to create').output.value[0].ava_kosher, true),'Y','N'),'N'),\n        if(and(and(contains(activity('Get Acounts to create').output.value[0],'SecondaryMarket_m3code'),not(equals(activity('Get Acounts to create').output.value[0].SecondaryMarket_m3code,null))),not(equals(replace(activity('Get Acounts to create').output.value[0].SecondaryMarket_m3code,' ',''),''))),concat('&CFC9=',activity('Get Acounts to create').output.value[0].SecondaryMarket_m3code),''),\n        '&STAT=10',\n        if(and(and(contains(activity('Get Acounts to create').output.value[0],'address2_city'),not(equals(activity('Get Acounts to create').output.value[0].address2_city,null))),not(equals(replace(activity('Get Acounts to create').output.value[0].address2_city,' ',''),''))),concat('&TOWN=',if(greater(length(activity('Get Acounts to create').output.value[0].address2_city),20),substring(activity('Get Acounts to create').output.value[0].address2_city,0,20),activity('Get Acounts to create').output.value[0].address2_city)),''),\n        '&maxrecs=0')",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Get 2 Chars Country",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "If missing data",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.0:01:30",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "method": "GET",
                    "headers": {
                        "Authorization": {
                            "value": "@variables('varBearerToken')",
                            "type": "Expression"
                        }
                    },
                    "url": {
                        "value": "@concat(variables('varInforAPIBaseURL'),\n        'M3/m3api-rest/v2/execute/EXPORTMI/SelectPad?SEPC=|&HDRS=0&QERY=CTSTKY from CSYTAB where CTCONO = ''',\n         activity('Get Acounts to create').output.value[0].BusinessUnit_companym3,\n         ''' and CTSTCO = ''CSCD'' and ',\n         if(equals(length(trim(activity('Get Acounts to create').output.value[0].address2_country)),2),concat('CTSTKY = ''',toUpper(activity('Get Acounts to create').output.value[0].address2_country)),concat('CTTX40 = ''',activity('Get Acounts to create').output.value[0].address2_country)),\n         '''&maxrecs=0')",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Get 2 Chars StateProvince",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "Get 2 Chars Country",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.0:01:30",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "method": "GET",
                    "headers": {
                        "Authorization": {
                            "value": "@variables('varBearerToken')",
                            "type": "Expression"
                        }
                    },
                    "url": {
                        "value": "@concat(variables('varInforAPIBaseURL'),\n        'M3/m3api-rest/v2/execute/EXPORTMI/SelectPad?SEPC=|&HDRS=0&QERY=CKECAR from CSYSTS where CKCONO = ''',\n         activity('Get Acounts to create').output.value[0].BusinessUnit_companym3,\n         ''' and CKCSCD = ''',\n         if(equals(activity('Get 2 Chars Country').output.nrOfSuccessfullTransactions,0),'',activity('Get 2 Chars Country').output.results[0].records[0].REPL),\n         ''' and ',\n         if(equals(length(trim(activity('Get Acounts to create').output.value[0].address2_stateorprovince)),2),concat('CKECAR = ''',toUpper(activity('Get Acounts to create').output.value[0].address2_stateorprovince)),concat('CKTX40 = ''',replace(activity('Get Acounts to create').output.value[0].address2_stateorprovince,'é','e'))),\n         '''&maxrecs=0')",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "DataFlow AccountCreation",
                "type": "ExecuteDataFlow",
                "dependsOn": [
                    {
                        "activity": "If necessary to call CRS610MI_ChgFinancial",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.00:10:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataflow": {
                        "referenceName": "DF_D365_AccountCreation",
                        "type": "DataFlowReference",
                        "parameters": {
                            "df_CustomerNumber": {
                                "value": "'@{pipeline().parameters.M3AccountNumber}'",
                                "type": "Expression"
                            },
                            "df_CustomerStage": {
                                "value": "'@{pipeline().parameters.CustomerStage_SyncProcessing}'",
                                "type": "Expression"
                            }
                        }
                    },
                    "compute": {
                        "coreCount": 8,
                        "computeType": "General"
                    },
                    "traceLevel": "Fine"
                }
            },
            {
                "name": "RunningTaskError_MissingData",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "If missing data",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.00:00:30",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "MariaDBSource",
                        "query": {
                            "value": "@concat('CALL management.SP_RunningTaskErrorSynapse(''',\n        pipeline().parameters.RunningTask_TaskName,\n        ''',',\n        if(empty(pipeline().parameters.RunningTask_LogID),0,pipeline().parameters.RunningTask_LogID),\n        ',',\n        '0,',\n        '''Missing Data: Account ', pipeline().parameters.M3AccountNumber,\n        ' has not been sent for creation to Infor for the following reason(s): ',\n         variables('varError'), '. Pipeline Run ID: ', pipeline().RunId,\n        ''')')",
                            "type": "Expression"
                        }
                    },
                    "dataset": {
                        "referenceName": "DS_MariaDB",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "RunningTaskError_AccountCreationError",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "If account is created",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.00:00:30",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "MariaDBSource",
                        "query": {
                            "value": "@concat('CALL management.SP_RunningTaskErrorSynapse(''',\n        pipeline().parameters.RunningTask_TaskName,\n        ''',',\n        if(empty(pipeline().parameters.RunningTask_LogID),0,pipeline().parameters.RunningTask_LogID),\n        ',',\n        '0,',\n        '''Error occur on creation of the Account ', pipeline().parameters.M3AccountNumber,\n        ' has not been created in Infor. ErrorType: ',\n        activity('Call CRS610MI_Copy').output.results[0].errorType,\n         ', ErrorMessage: ',\n         activity('Call CRS610MI_Copy').output.results[0].errorMessage,\n         variables('varError'), '. Pipeline Run ID: ', pipeline().RunId,\n        ''')')",
                            "type": "Expression"
                        }
                    },
                    "dataset": {
                        "referenceName": "DS_MariaDB",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "Set varMandatory",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Get 2 Chars StateProvince",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "varMandatory",
                    "value": {
                        "value": "@if(\n  and(\n    contains(activity('Get Acounts to create').output.value[0], 'ava_checkifmandatorypo'),\n    not(equals(activity('Get Acounts to create').output.value[0].ava_checkifmandatorypo, null))\n  ),\n  if(\n    equals(string(activity('Get Acounts to create').output.value[0].ava_checkifmandatorypo), 'true'),\n    '&MCOS=1',\n    '&MCOS=0'\n  ),\n  ''\n)\n",
                        "type": "Expression"
                    }
                }
            }
        ],
        "parameters": {
            "ForceRenewInforApiBearerToken": {
                "type": "bool",
                "defaultValue": false
            },
            "RunningTask_LogID": {
                "type": "string",
                "defaultValue": "0"
            },
            "RunningTask_TaskName": {
                "type": "string",
                "defaultValue": "RunningTask_TaskName"
            },
            "CustomerStage_SyncProcessing": {
                "type": "string",
                "defaultValue": "50"
            },
            "M3AccountNumber": {
                "type": "string"
            }
        },
        "variables": {
            "varBearerToken": {
                "type": "String"
            },
            "varError": {
                "type": "String"
            },
            "varCustomerNumber": {
                "type": "String"
            },
            "varAccountReadyToSync": {
                "type": "Boolean",
                "defaultValue": true
            },
            "varInforAPIBaseURL": {
                "type": "String"
            },
            "varMandatory": {
                "type": "String"
            }
        },
        "folder": {
            "name": "Integration Infor-D365"
        },
        "annotations": []
    }
}